.App {
  text-align: left
}

.header {
  background-color: #1D237E;
  display: flex;
  color: white;
}

.header-text {
  padding-left: 15px;
}

.main {
  padding: 15px;
}

.members-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.no-member-msg {
  margin-top: 15px;
}

.button {
  border: none;
  background-color: #282D84;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.form {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #8B8B8F;
  width: 50%;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.fields {
  margin-bottom: 15px;
}

.form-input {
  border-radius: 5px;
  border: 0.5px solid #8B8B8F;
  width: 100%;
}

.form-buttons {
  margin-left: 5px;
  float: right;
}
